@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}


/* Components */
.container {
  margin: 20px auto;
  border-radius: 1rem;
  width: 500px;
  padding: 15px  50px 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.d-flex-custom {
  display: flex;
  justify-content: center;
}

.gap {
  gap: 3em;
}

.unstyle {
  text-decoration: none;
  list-style: none;
}

/* End of Components */

/* Form css */

label {
  font-size: 1.5em;
}

input[type=text] {
  display: block;
  width: 100%;
  block-size: 2em;
  border: 3px solid rgb(230, 230, 230);
  border-radius: 0.5rem;
  font-size: large;
}

input[type=number] {
  display: block;
  width: 100%;
  block-size: 2em;
  border: 3px solid rgb(230, 230, 230);
  border-radius: 0.5rem;
  font-size: large;
}

input[type=submit] {
  margin: 10px;
  padding: 0 5px;
  background-color: rgb(117, 149, 255);
  border-radius: 0.5em;
  block-size: 2em;
}

.success-msg {
  border: 3px solid rgb(91, 175, 91);
  background-color:rgb(158, 230, 158);
  padding: 5px 2px;
}

/* End of form css */


/* Text */
.text-center {
  text-align: center;
}

/* Colors */
.bg-gray {
  background-color: rgb(160, 160, 160);
}